*.swp
*.o
*.a
gadget
gadgetosd
gadget.exe
gadgetosd.exe
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
rootfs.tar.gz


windows-msys/gadget-shell/ReleaseNotes.html
windows-msys/gadget-shell/edit-git-bash.exe
windows-msys/gadget-shell/cached-source-packages/
windows-msys/gadget-shell/download-stats.ids
windows-msys/gadget-shell/git-extra/pkg/
windows-msys/gadget-shell/git-extra/src/
windows-msys/gadget-shell/git-extra/git-extra-*.pkg.tar.xz
windows-msys/gadget-shell/git-extra/git-extra-*.src.tar.gz
windows-msys/gadget-shell/installer/ReleaseNotes.html
windows-msys/gadget-shell/installer/bindimage.txt
windows-msys/gadget-shell/installer/config.iss
windows-msys/gadget-shell/installer/install.log
windows-msys/gadget-shell/installer/is-unicode.exe
windows-msys/gadget-shell/installer/file-list.iss
windows-msys/gadget-shell/installer/package-versions.txt
windows-msys/gadget-shell/mingit/exclude-list
windows-msys/gadget-shell/mingit/root/
windows-msys/gadget-shell/mingit/sorted-all
windows-msys/gadget-shell/mingit/sorted-libexec-exes
windows-msys/gadget-shell/mingw-w64-git-credential-manager/pkg/
windows-msys/gadget-shell/mingw-w64-git-credential-manager/src/
windows-msys/gadget-shell/mingw-w64-git-credential-manager/*.pkg.tar.xz
windows-msys/gadget-shell/mingw-w64-git-credential-manager/*.src.tar.gz
windows-msys/gadget-shell/mingw-w64-git-credential-manager/gcmw-*.zip
windows-msys/gadget-shell/mingw-w64-git-credential-manager/v[1-9]*.zip
windows-msys/gadget-shell/msi/GitComponents.wxs
windows-msys/gadget-shell/msi/obj/
windows-msys/gadget-shell/msi/package-versions.txt
windows-msys/gadget-shell/msi/wix40-binaries.zip
windows-msys/gadget-shell/nuget/GitForWindows.nuspec
windows-msys/gadget-shell/nuget/Git-Windows-Minimal.nuspec
windows-msys/gadget-shell/nuget/Git-Windows-Minimal.nuspec.unmoved
windows-msys/gadget-shell/nuget/ReleaseNotes.html
windows-msys/gadget-shell/nuget/libexec-moved.txt
windows-msys/gadget-shell/nuget/nuget.exe
windows-msys/gadget-shell/nuget/package-versions.txt
windows-msys/gadget-shell/portable/root/LICENSE.txt
windows-msys/gadget-shell/portable/root/bin/
windows-msys/gadget-shell/portable/root/cmd/
windows-msys/gadget-shell/portable/root/etc/
windows-msys/gadget-shell/portable/root/post-install.bat
windows-msys/gadget-shell/sdk-installer/root/
windows-msys/gadget-shell/source-zips/
windows-msys/gadget-shell/source-zips-mingit/
windows-msys/gadget-shell/archive/root/*
!windows-msys/gadget-shell/archive/root/etc/hosts
!windows-msys/gadget-shell/archive/root/etc/networks
!windows-msys/gadget-shell/archive/root/etc/protocols
!windows-msys/gadget-shell/archive/root/etc/services
